:root {
  --orange: #e87d0e;
  --light-orange:#fa9021;
  --blue: #4ABCEC;
  --light-blue: #00E0FF;
  --white: #fff;
  --black: #000;
  --light-grey:  #898989;;



  --font-family: "Poppins", sans-serif;
  --second-family: "Rubik", sans-serif;



}


/* :hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
} */